###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Linguist overrides
*.yml linguist-detectable=true
*.yml linguist-language=YAML

*.json linguist-detectable=true
*.json linguist-language=JSON

Vagrantfile linguist-detectable=true
Vagrantfile linguist-language=Ruby

Jenkinsfile linguist-detectable=true
Jenkinsfile linguist-language=Groovy

*.tfvars linguist-detectable=false

#- *.md linguist-language=Markdown
#- *.md linguist-documentation=false
#- *.md linguist-detectable=true
#- README.md linguist-detectable=false
#- readme.md linguist-detectable=false